<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <form action="~/Name.cshtml" method="post">
        <label for="nameLabel">Name:</label>
        <input type="text" name="name" id="name"/> <br/>
        <input type="submit" value="Submit"/>
    </form>
</body>
</html>
